#listProducts {
	padding: 1rem;
}

#selectAllContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 1rem;
}

#selectAllContainer label {
	height: 100%;
}

#selectAll {
	height: 2rem;
	width: 2rem;
	cursor: pointer;
}

.itemContainer {
	display: grid;
	grid-template-columns: 1fr 2fr 8fr 1fr;
	grid-template-rows: 8fr 4fr;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 0rem;
	border-bottom: 1px #c3c3c3 solid;
}

.itemContainer label {
	align-self: flex-start;
}

.itemContainer button {
	width: 100%;
	max-width: 7rem;
	align-self: center;
	justify-self: center;
}

.itemContainer img {
	border-radius: 0.5rem;
	width: 100%;
	height: 7rem;
	width: 7rem;
	object-fit: contain;
	object-position: center;
	background-color: #fff;
	justify-self: center;
}

.productCheckbox {
	margin-top: 1rem;
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	align-self: flex-start;
}

.qtd-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 10rem;
	grid-column: 4;
	grid-row: 2;
}

.qtd-input button {
	border-radius: 99999px;
	width: 3rem;
	height: 1.5rem;
}

.product-price {
	grid-row: 1;
	grid-column: 4;
	font-weight: 600;
	align-self: center;
	text-align: center;
}


#buyContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: #fff;
	height: 20rem;
	justify-content: space-between;
	border-radius: 0.5rem;
	margin: 1rem;
}

#buyDetails {
	color: #4e4e4e;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	gap: 1rem;
}

#buyContainer h2 {
	font-size: 2rem;
}

#buyContainer button {
	width: 100%;
}

.total-wrapper {
	display: flex;
	border-top: 1px solid #c3c3c3;
	padding-top: 0.5rem;
	justify-content: space-between;
	font-weight: 700;
	font-size: 1.25rem;
}
