body {
	background-color: #ededed;
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 8fr;
}

.itemContainer button,
#buyContainer button,
.product button {
	grid-column: 2;
	border: none;
	background-color: #000;
	color: #fff;
	border-radius: 0.5rem;
	cursor: pointer;
	height: 3rem;
}









