#showproducts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
}

.product {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 20rem;
	width: 15rem;
	border: 1px solid #000;
	border-radius: 1rem;
	padding: 1rem;
	margin: 0.5rem;
}

.product img {
	align-self: center;
	justify-self: center;
	object-fit: contain;
	width: auto;
	height: 5rem;
	border-radius: 1rem;
}
